<div class="pt-[62px] relative">
  @if (isDarkMode) {
    <img src="assets/bg_mobile_dark.jpg" alt="" class="fixed md:hidden lg:hidden inset-0 w-full h-full object-cover pointer-events-none select-none z-0" />
    <img src="assets/bg_desktop_dark.jpg" alt="" class="fixed hidden md:block lg:block inset-0 w-full h-full object-cover pointer-events-none select-none z-0" />
  } @else {
    <img src="assets/bg_mobile.png" alt="" class="fixed md:hidden lg:hidden inset-0 w-full h-full object-cover pointer-events-none select-none z-0" />
    <img src="assets/bg_desktop.png" alt="" class="fixed hidden md:block lg:block inset-0 w-full h-full object-cover pointer-events-none select-none z-0" />
  }
  <app-nav-bar class="fixed top-0 left-0 w-full z-50"></app-nav-bar>

  <div class="h-[calc(100vh-62px)] relative z-10">
    @if (isListMessageEmpty()) {
      <div class="welcome-message h-full pt-20">
        <div class="flex flex-col items-center gap-20">
          <h1 class="text-[32px] dark:text-[#DBF9BE]">Parlez à VERA</h1>
          <div class="rounded-full bg-[#1F1C19] h-fit w-fit overflow-hidden">
            <img ngSrc="assets/Vera.png" width="200" height="200" alt="VERA Logo" priority />
          </div>
        </div>
      </div>
    }
    @if(!isListMessageEmpty()) {
      <!-- Liste des messages -->
      <div class="max-h-[calc(100vh-62px)] flex flex-col gap-4 pb-8 overflow-y-auto">
        @for (turn of turns; track $index) {

          <div class="text-[#FEF2E4]">
            <!-- Question user, sticky -->
            <div class="sticky top-0 bg-[#FEF2E4] dark:bg-[#111110] text-[#111110] dark:text-[#FEF2E4] py-[18px] border-b border-white/10 w-full z-10">
              <p class="text-[24px] text-center font-medium whitespace-pre-line">
                {{ turn.question.content }}
              </p>
            </div>

            <!-- Réponse VERA -->
            @if (turn.answer) {
              @if (turn.answer.content == "error") {
                <div class="pt-[52px] md:max-w-[720px] lg:w-5xl mx-auto pb-8 space-y-2">
                  <div class="m-auto mb-[50px] h-fit w-fit overflow-hidden">
                    @if (isDarkMode) {
                      <img ngSrc="assets/Socrate_light.png" width="250" height="250" alt="VERA Logo" priority />
                    } @else {
                      <img ngSrc="assets/Socrate.png" width="250" height="250" alt="VERA Logo" priority />
                    }
                  </div>
                  <p class="text-[20px]/[24px] text-[#111110] dark:text-[#FEF2E4] px-[33px] whitespace-pre-line">
                    Je n'ai trouvé aucune informations fiables à ce sujet.
                  </p>
                </div>
              } @else {
                <div class="pt-[52px] px-[18px] space-y-2 md:max-w-[720px] lg:w-5xl mx-auto">
                  <div class="m-auto mb-[50px] rounded-full bg-[#1F1C19] h-fit w-fit overflow-hidden">
                    <img ngSrc="assets/Vera.png" width="65" height="65" alt="VERA Logo" priority />
                  </div>
                  @if (isLinks(turn.answer)) {
                    <div class="">
                      @if (isMultipleLinks(turn.answer)) {
                        @for (link of turn.answer.links; track $index) {
                          <div>
                            <p>Lire des enquêtes publiée par</p>
                          </div>
                        }
                      } @else {
                        <div>
                          <p>Lire une enquête publiée par</p>
                        </div>
                      }
                    </div>
                  }
                  <p class="text-[20px]/[24px] text-[#111110] dark:text-[#FEF2E4] dark:bg-[#1F1C19] px-[15px] rounded-md whitespace-pre-line">
                    {{ turn.answer.content }}
                  </p>
                </div>
              }
            } @else {
              <!-- éventuellement un petit "VERA réfléchit..." local à la carte -->
              <div class="pt-[52px] space-y-2">
                  <div class="m-auto mb-[50px] rounded-full bg-[#1F1C19] h-fit w-fit overflow-hidden">
                    <img ngSrc="assets/Vera.png" width="65" height="65" alt="VERA Logo" priority />
                  </div>
                  <p class="text-[20px]/[24px] text-[#111110] dark:text-[#DBF9BE] px-[33px] whitespace-pre-line flex items-center gap-2">
                    <svg class="animate-spin h-5 w-5 text-[#0066cc]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    VERA réfléchit...
                  </p>
                </div>
            }
          </div>

        }
      </div>

    }
  </div>

  @if (hasFiles) {
    <div class="fixed bottom-[70px] right-0 w-3/4 px-6 z-20">
      <!-- Conteneur scrollable si beaucoup de fichiers -->
      <div class="max-h-40 overflow-y-auto space-y-2">
        @for (file of selectedFiles; track $index) {
          <div
            class="bg-[#1F1C19]/90 backdrop-blur-sm border border-[#4a4642] rounded-xl px-3 py-2 flex items-center justify-between text-[#FEF2E4] gap-3 w-3/4 md:w-[250px]"
          >
            <div class="flex-1 min-w-0">
              <span class="block text-sm font-medium truncate">
                {{ file.name }}
              </span>
              <span class="block text-xs text-[#FEF2E4]/60">
                {{ (file.size / 1024) | number:'1.0-0' }} Ko
              </span>
            </div>

            <button
              type="button"
              (click)="removeFile($index)"
              class="shrink-0 text-xs text-[#FEF2E4]/60 hover:text-red-400"
            >
              Retirer
            </button>
          </div>
        }
      </div>
    </div>
  }

  <div class="fixed bottom-0 left-1/2 -translate-x-1/2 px-6 py-2 md:pb-8 sm:w-full md:w-[720px] lg:w-5xl z-20">
    <form class="flex items-center bg-[#1F1C19] dark:bg-[#DBF9BE] rounded-full px-4 py-2 gap-4 w-full">
      <!-- Bloc upload avec menu -->
      <div class="relative shrink-0">
        <!-- input file caché -->
        <input
          #fileInput
          type="file"
          multiple
          (change)="onFilesSelected($event)"
          class="hidden"
        />

        <!-- bouton + qui ouvre / ferme le menu -->
        <button
          type="button"
          (click)="toggleUploadMenu()"
          class="cursor-pointer hover:bg-slate-800 rounded-full p-1 flex items-center justify-center"
        >
          @if (isDarkMode) {
            <ng-icon name="matPlusOutline" size="28px" color="#111110"></ng-icon>
          } @else {
            <ng-icon name="matPlusOutline" size="28px" color="#FEF2E4"></ng-icon>
          }
        </button>

        <!-- menu déroulant -->
        @if (isUploadMenuOpen) {
          <div
            class="absolute bottom-full left-0 mb-2 w-48 rounded-xl bg-[#1F1C19] border border-[#4a4642] shadow-lg py-2"
          >
            <button
              type="button"
              (click)="chooseFile()"
              class="w-full text-left px-3 py-2 text-sm text-[#FEF2E4] hover:bg-[#2c2927] flex items-center gap-2"
            >
              <ng-icon name="matFileUploadOutline" size="20px" color="#FEF2E4"></ng-icon> Importer un fichier
            </button>
          </div>
        }
      </div>

      <textarea
        #textarea
        [(ngModel)]="input"
        (input)="autoResize(textarea)"
        name="question"
        rows="1"
        placeholder="Pose ta question à VERA..."
        class="flex-1 placeholder:text-[#FEF2E4]/30 dark:placeholder:text-[#111110]/30 text-[#FEF2E4] dark:text-[#111110] text-md resize-none focus:outline-none overflow-y-auto"
        style="max-height:calc(1.5rem * 3);"
      ></textarea>

      <button
        class="cursor-pointer hover:bg-slate-800 rounded-full p-1 flex items-center justify-center shrink-0"
        type="submit"
        (click)="onSubmit()"
      >
        @if (isDarkMode) {
          <ng-icon name="matSendOutline" size="28px" color="#111110"></ng-icon>
        } @else {
          <ng-icon name="matSendOutline" size="28px" color="#FEF2E4"></ng-icon>
        }
      </button>
    </form>
  </div>
</div>
