/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-*: initial;
  --font-*: initial;
  --font-family-lastik: "Lastik", sans-serif;
  --font-family-fustat: "Fustat", sans-serif;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Lastik";
  src: url("/assets/fonts/Lastik-Regular.ttf") format("truetype"),
       url("/assets/fonts/Lastik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fustat";
  src: url("/assets/fonts/Fustat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
